# Cribbed from https://github.com/adamchainz/mac-ansible/blob/master/roles/adam_mac/tasks/installs.yml
- name: update vimfiles
  import_tasks: vimfiles.yml
  tags:
  - vimfiles

- name: install brew packages
  import_tasks: brew.yml
  tags:
  - brew

- name: install pip packages
  import_tasks: pip.yml
  tags:
  - pip

- name: install npm packages
  import_tasks: npm.yml
  tags:
  - npm

- name: install rust packages
  import_tasks: rust.yml
  tags:
  - rust
